@import url(http://notosanskr-hestia.s3-website-ap-northeast-1.amazonaws.com/stylesheets/NotoSansKR-Hestia.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    margin: 0;
    padding: 0;
    text-align: center;
    /* font-family: 'Noto Sans Korean', sans-serif; */
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 100;
}

.container {
    width: 100%;
}

*:read-write:focus {
    outline: none;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    margin: 0.5em 0 1.5em 0;
    padding: 0;
    font-size: 250%;
}

article {
    box-sizing: border-box;
    margin: 0 auto;
    width: 640px;
    max-width: 100%;
    height: 100%;
}

article .content {
    box-sizing: border-box;
    text-align: left;
    background-image: -webkit-linear-gradient(top, transparent, transparent 31px, #ccc 0);
    background-repeat: repeat-y;
    background-size: 100% 32px;
    line-height: 32px;
    width: calc(100% - 80px);
    margin: 0 40px;
}

nav {
    width: 100%;
}

footer a {
    color: #eee;
}

@media screen and (max-width: 480pt) {
    @viewport {
        width: 320px;
        zoom: 1.0;
        min-zoom: 1.0;
        max-zoom: 1.0;
    }
    article {
        max-width: 100%;
        width: 100%;
    }
}
