@import url(http://notosanskr-hestia.s3-website-ap-northeast-1.amazonaws.com/stylesheets/NotoSansKR-Hestia.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    margin: 0;
    padding: 0;
    text-align: center;
    /* font-family: 'Noto Sans Korean', sans-serif; */
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 100;
}

.container {
    margin: 0 auto;
    width: 640px;
    max-width: 100%;
}

*:read-write:focus {
    outline: none;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    margin: 0.5em 0 1.5em 0;
    padding: 0;
    font-size: 250%;
}

h1 input {
    border: 0;
    text-align: center;
    font-size: 100%;
}

article {
    box-sizing: border-box;
    height: 100%;
}

article .content {
    box-sizing: border-box;
    text-align: left;
    background-image: -webkit-linear-gradient(top, transparent, transparent 31px, #ccc 0);
    background-repeat: repeat-y;
    background-size: 100% 32px;
    line-height: 32px;
    width: calc(100% - 80px);
    margin: 0 40px;
}

footer {
    margin-top: 2em;
}

footer a {
    color: #eee;
}

nav {
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 0 1em;
    color: #ccc;
    text-decoration: none;
}

nav a.prev {
    float: left;
}

nav a.next {
    float: right;
}

footer p {
    clear: both;
}

form {
    padding: 1em 0;
}

form input {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 1em);
    height: 40px;
    margin: 0.5em;
    padding: 0.2em;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 24px;
}

form input[type=date] {
    text-align: center;
}

form input[type=submit] {
    background: #ccc;
    color: black;
}

@media screen and (max-width: 480pt) {
    @viewport {
        width: 320px;
        zoom: 1.0;
        min-zoom: 1.0;
        max-zoom: 1.0;
    }
    .container {
        max-width: 100%;
        width: 100%;
    }
}
