@import url(http://notosanskr-hestia.s3-website-ap-northeast-1.amazonaws.com/stylesheets/NotoSansKR-Hestia.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    margin: 0;
    text-align: center;
    /* font-family: 'Noto Sans Korean', sans-serif; */
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 100;
}

h1, h2 {
    font-weight: 300;
}

article {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em 1em;
    width: 640px;
    max-width: 100%;
    height: 100%;
}

article .content {
    clear: both;
    text-align: left;
    background-image: -webkit-linear-gradient(top, transparent, transparent 31px, #ccc 0);
    background-repeat: repeat-y;
    background-size: 100% 32px;
    line-height: 32px;
    width: 100%;
}

article .content:before {
    display: block;
    position: relative;
    content: url("left_quotation_mark.svg");
    float: left;
    margin: 0;
    padding: 0;
    left: -50px;
    top: -10px;
    width: 0;
    height: 0;
}

article .content:after {
    display: block;
    position: relative;
    content: url("right_quotation_mark.svg");
    float: right;
    margin: 0;
    padding: 0;
    right: -10px;
    top: -10px;
    width: 0;
    height: 0;
}

footer a {
    color: #eee;
}
