<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ccc">

    <title>{{ title }}</title>

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block header %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <article>
        {% block article %}
        {% endblock %}
    </article>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</div>

</body>
</html>

