{% extends "base.html" %}

{% block header %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ url_for("static", filename="one_paragraph.js") }}"></script>
{% endblock %}


{% block article %}

<h1><date>{{ post.date }}</date></h1>

<p class="content" contenteditable="true">{{ post.content }}</p>

{% endblock %}

{% block footer %}

<nav>
{% if post.prev_date %}
<a href="{{ url_for("get_diary", date=post.prev_date) }}">Prev</a>
{% endif %}
{% if post.next_date %}
<a href="{{ url_for("get_diary", date=post.next_date) }}">Next</a>
{% endif %}
</nav>
<p> <a href="/logout">logout</a> </p>
{% endblock %}
