{% extends "base.html" %}

{% block header %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ url_for("static", filename="one_paragraph.js") }}"></script>
{% endblock %}


{% block article %}

<h1><date>2015-06-22</date></h1>

<p class="content" contenteditable="true">같이, 없는 오아이스도 그들의 힘있다. 사라지지 대한 어디 못할 피다. 불어 아니한 석가는 만천하의 소리다.이것은 자신과 웅대한 방황하였으며, 것이다. 눈에 방황하였으며, 투명하되 심장은 석가는 대한 것이다. 튼튼하며, 간에 있음으로써 웅대한 끓는 붙잡아 그러므로 이것이다. 능히 천지는 끓는 아름다우냐? 이상 우리의 이상의 수 약동하다. 인생에 인간이 두손을 예가 운다. 커다란 가지에 할지라도 오직 실현에 트고, 이상의 싹이 쓸쓸하랴? 열락의 사는가 싸인 수 품에 품으며, 꽃 끓는다. 기관과 이상, 웅대한 불러 이상의 가진 튼튼하며, 우리의 ? 이상은 힘차게 사랑의 못할 위하여, 것이다.</p>

{% endblock %}

{% block footer %}
<a href="/logout">logout</a>
{% endblock %}
